

#container {
  
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto
  border: 1px;
  width: 400px;
  height: fit-content;
  border-color: black;
  border-style: solid;
  padding: 0px 0px 0px 0px;
  


}

