#container {
  width: 550px;
  height: 550px;
  border-style: solid;
  border-color: #d42323;
  border-width: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.squaregrid {
  outline: 1px solid grey;
  background-color: white;
}

.titlebuttons {
  display: flex;
  justify-content: space-between;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
h1 {
  margin-bottom: 0%;
  font-family: 'Brush Script MT', cursive;
  color: gold;

}