#container {
  width: 550px;
  height: 550px;
  border-style: ridge;
  border-color: #e23b3b;
  border-width: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.squaregrid {
  outline: 1px solid grey;
  background-color: white;
}

.titlebuttons {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d61515;
}
h1 {
  margin-bottom: 0%;
  font-family: 'Brush Script MT', cursive;
  text-shadow: 2px 2px #423e3e;
  color: gold;

}
button {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  border-style: ridge;
  padding: 10px;
  border: 2px;
  border-style: ridge;
  border-color: black;
}
button:hover {
 background-color: gold;
}
#colorchanger {
  border-radius: 10px;
  height: 38px;
  border: 2px;
  border-style: ridge;
  border-color: black;

  
}
#colorchanger:hover {
  background-color: gold;

}